<img src="../assets/img/en-forma.jpg" class="img-fluid" alt="Imágenes responsive">
<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 mt-md-0 mt-3">

          <!-- Content -->
          <h1 class="text-uppercase font-weight-bold">¿Qué es el Crossfit?</h1>
          <p>¿Eres capaz de correr durante 60 minutos seguidos? ¿Puedes levantar 40 kilos de peso en press banca? Si has contestado afirmativamente a alguna de estas preguntas, enhorabuena, aunque tu estado de forma física no está completo. Y es que vas por el buen camino, pero lo ideal es trabajar tanto la resistencia como la fuerza física, por lo que las rutinas de ejercicio combinadas son las más adecuadas para todo el mundo. El CrossFit es una de ellas, eso sí, a nivel superior.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->