<div>
    <a [routerLink]="['/new']">NEW</a>
    <div class="wod" *ngFor="let wod of wods">
        <h3> {{ wod.title }} </h3>
        <div class="wod" *ngFor="let video of wod.wod">
            <a [routerLink]="['/wod',wod._id]">WOD</a>
        </div>
    </div>
</div>
<br>
<a [routerLink]="['/information']">Information</a>
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                Header
            </div>
            <div class="card-block">
                <div class="card-title">
                    Block
                </div>
                <div class="card-text">
                    ...
                </div>
            </div>
            <div class="dropdown top-left open">
                <button class="dropdown-toggle btn btn-sm btn-link">
                    Dropdown 1
                    <!-- <clr-icon shape="caret down"></clr-icon> -->
                </button>
                <div class="dropdown-menu">
                    <a href="..." class="dropdown-item">Item 1</a>
                    <a href="..." class="dropdown-item">Item 2</a>
                    <a href="..." class="dropdown-item">Item 3</a>
                    <a href="..." class="dropdown-item">Item 4</a>
                </div>
            </div>
        </div>
    </div>
</div>