 .wod-info{
	display: flex;
    justify-content: center;
}
h1{
    padding-top: 100px;
}
h3, h1{
    padding-left: 30px;
}
iframe{
    padding-bottom: 30px;
}
.ifr{
    padding-left: 40px;
}
#main{
    padding-left: 40px;
}
.text{
    display: flex;
    justify-content: center;
}
#app{
    background-color: antiquewhite;
}

 