.navbar-brand {        
    color: #f9d132;
}
.nav-link{
    color: #f9d132;
}
nav{
    background-color: black;
}
@media (max-width: 260px) {
    .navbar-link{
display: none;
    }
  }
// .navbar {
//     background-color: transparent;
// }

// .scrolling-navbar {
//     -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
//     -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
//     transition: background .5s ease-in-out, padding .5s ease-in-out;
// }

// .top-nav-collapse {
//     background-color: #1C2331;
// }

// footer.page-footer {
//     background-color: #1C2331;
//     margin-top: 0;
// }

// @media only screen and (max-width: 768px) {
//     .navbar {
//         background-color: #1C2331;
//     }
// }